body {
    font-family: Arial, sans-serif;
    background:
        linear-gradient(
            rgba(0,0,0,0.45),
            rgba(0,0,0,0.45)
        ),
        url('./assets/srm_image.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: right;
    margin-right: 50px;
    align-items: center;
    // background:
    //     linear-gradient(
    //         rgba(0,0,0,0.45),
    //         rgba(0,0,0,0.45)
    //     ),
    //     url('./assets/srm_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.enquiry-box {
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 10px;
    border: 5px solid #071264;
    box-shadow:
        0 10px 30px
        rgba(0,0,0,0.25);
}

.enquiry-box h2 {
    margin-bottom: 15px;
}

.enquiry-box input,
.enquiry-box select,
.enquiry-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.enquiry-box button {
    width: 100%;
    padding: 12px;
    background: #071264;
    color: white;
    border: none;
    cursor: pointer;
}
.captcha-value {
    display: flex;
    align-items: center;
    gap: 4px;
}
.captcha-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 3px;
}

.captcha-text {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    user-select: none;
}

.refresh-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.error {
    color: #dc3545;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 6px;
}

.success {
    color: green;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}

.captcha-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.refresh-icon-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #2d6b2f;
    padding: 4px;
}