body {
    font-family: Arial, sans-serif;
    background:
        linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)),
        url('./assets/srm_image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #071264;
    margin-bottom: 20px;
    background: #fff;
}

.page-wrapper {
    min-height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campus-image {
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

@media (max-width: 992px) {
    .page-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .left-section {
        width: 100%;
    }

    .campus-image {
        max-width: 100%;
    }

    .enquiry-box {
        width: 100%;
        max-width: 450px;
    }
}

.enquiry-box {
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 10px;
    border: 5px solid #071264;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.25);
}

.enquiry-box h2 {
    margin-bottom: 15px;
}

.enquiry-box input,
.enquiry-box select,
.enquiry-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.enquiry-box button {
    width: 100%;
    padding: 12px;
    background: #071264;
    color: white;
    border: none;
    cursor: pointer;
}

.captcha-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.captcha-canvas {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f5f5f5;
}

.refresh-icon-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 22px;
    color: #2d6b2f;
}

.refresh-icon-btn:hover {

    transform: rotate(180deg);

    transition: .3s;
}

.captcha-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 3px;
}

.captcha-text {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    user-select: none;
}

.refresh-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.error {
    color: #dc3545;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 6px;
}

.success {
    color: green;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}

.captcha-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #071264;
    color: white;
    padding: 20px 40px;
    border-top: 3px solid #e0aa3d;
    margin-top: 20px;
}

.footer-left {
    flex: 1;
    text-align: left;
}

.footer-left h4 {
    margin-bottom: 10px;
    color: #e0aa3d;
}

.footer-left p {
    margin: 4px 0;
    font-size: 14px;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-logo {
    height: 60px;
    margin-bottom: 10px;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.footer-center p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.footer-right {
    flex: 1;
    font-size: 14px;
    text-align: right;
}

.qr-image {
    width: 90px;
    height: 90px;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.footer-right p {
    margin-top: 5px;
    font-size: 13px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center;
    }
}
.left-logo {
    height: 80px;
    object-fit: contain;
}

.right-logo {
    height: 70px;
    object-fit: contain;
}
@media (max-width: 768px) {
    .header {
        padding: 10px;
    }
    .left-logo {
        height: 60px;
    }
    .right-logo {
        height: 50px;
    }
}